<div class="container text-center">
  <div class="card round" style="background-color: #e2e2e2; ">
    <div class="card-body">
      <div class=" row card-text">
        <h1 class="text-start text-color">Lighting
        </h1>
      </div>
      <div class=" row align-items-start ">
        <div class="col text-center ">

            <h1 class="text-center title-color " >32</h1>

        </div>
        <div class="col  text-center  ">
          <div class=" btn btn-lg text-start mt-2" style="background-color: #6DD0A5; " >
            <div class="text-center text-white    Rota-Regular "  >ON</div>
          </div>
        </div>
        <div class="col ">
          <div class="row mt-2">
            <div class="col  text-start align-items-center sub-text">
         <span>Total</span>
              <p class="h1 text">43</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

