<div class="container text-center">
  <div class="card round" style="background-color: #e2e2e2; ">
    <div class="card-body">
      <div class=" row card-text">
        <h1 class="text-start text-color">Air Quality
        </h1>
      </div>
      <div class=" row card-text">
        <div class="col list-inline text-end">
          <div class="rounded-circle  me-2 bg-color " >
            <div class="text-center text-white align-items-center h2 pt-3" style="font-size: 3rem !important;">72</div>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col list-inline text-start">
              <i class="fa fa-arrow-up me-2 fa-2x " style="color: #6DD0A5;   font-weight:lighter;"></i>
              <h4 class="list-inline-item subtext-color" >93</h4>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col list-inline text-start ">
              <i class="fa fa-arrow-down me-2 fa-2x" style="color: #f38225ee;  font-weight:lighter;"></i>
              <h4 class="list-inline-item subtext-color" >61</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
