<div class="container text-center bg-f9f9f9">
  <div class="row justify-content-center mt-5">
    <div class="col mt-5 mb-5">
      <img src="../assets/ui_design_resources/logo.svg" alt="logo" style="width: 200px" />
    </div>
  </div>
  <div class="row mt-5 justify-content-around">
    <div class="col-lg-4 col-md-6 col-sm mb-5">
      <app-air-quality></app-air-quality>
    </div>
    <div class="col-lg-4 col-md-6 col-sm mb-5">
      <app-temperature></app-temperature>
    </div>
    <div class="col-lg-4 col-md-6 col-sm mb-5">
      <app-audio></app-audio>
    </div>
    <div class="col-lg-4 col-md-6 col-sm mb-5">
      <app-display></app-display>
    </div>
    <div class="col-lg-4 col-md-6 col-sm mb-5">
      <app-lighting></app-lighting>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
