<div class="container text-center">
  <div class="card round" style="background-color: #e2e2e2; ">
    <div class="card-body">
      <div class=" row card-text">
        <h1 class="text-start text-color">Display
        </h1>
      </div>
      <div class=" row  align-items-center">
        <div class="col list-inline">

            <div class="list-inline-item text-center align-items-start  Rota-Bold " style="font-size: 5rem !important ; color: #5448C8;">10</div>
            <div class="list-inline-item Rota-Bold" style="font-size: 2rem !important ; color: #5448C8;">/ 16</div>

        </div>

        <div class="col">
          <div class="row">
            <div class="col  text-start align-items-center sub-text">
         <span>On Time</span>
              <p class="h1 text">00:00</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
