

<div class="container text-center">
  <div class="card round" style="background-color: #e2e2e2; ">
    <div class="card-body">
      <div class=" row card-text">
        <h1 class="text-start text-color">Temperature
        </h1>
      </div>
      <div class=" row card-text">
        <div class="col list-inline text-end">
          <div class="rounded-circle  me-2 sub-bg-color " >
            <div class="list-inline-item text-white align-items-center h2 pt-3" style="font-size: 3rem !important;">21

            </div>
            <p class="list-inline-item me-2 text-white h5">   &#8451;</p>
          </div>
        </div>
        <div class="col">
          <div class="row">
            <div class="col list-inline text-start">
              <img src="../../assets/ui_design_resources/fire.svg" alt="log-svg" class=" me-2 " style="color: #6DD0A5; font-size: xx-large;">
              <div class="list-inline-item subtext-color" >26   </div>
              <p class="list-inline-item me-2 sub-text">   &#8451;</p>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col list-inline text-start ">
              <img src="../../assets/ui_design_resources/snowflake.svg" alt="log-svg" class=" me-2 " style="color: #f38225ee;font-weight: 900; font-size: xx-large;">
              <div class="list-inline-item subtext-color" >18 </div>
              <p class="list-inline-item me-2 sub-text rota-bold h5">   &#8451;</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
